* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 10;
  padding: 0;
  background-color: #f5f5f5;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* couleur de fond de votre barre de navigation */
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 10px 20px; /* ajustez selon vos besoins */
  color: #fff; /* couleur du texte */
  text-decoration: none;
}

nav a:hover {
  background-color: #555; /* couleur de fond au survol */
}

/* Centrage des liens */
nav a {
  text-decoration: none;
  display: inline-block;
  width: 19.5%;
  margin-right: 5%;
  text-align: center;
  line-height: 3;
  color: rgb(252, 252, 252);
}
#content {
    margin-top:80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
  padding: 20px;
}
h1 {
  color: #333;
}
p {
  color: #666;
}
iframe {
  width: 800;

}